### Власенков Кирилл (Б03-907, семинар 07.09.2020)

# problem 1

In [1]:
import numpy as np

In [2]:
def maxim(seq:list):
    maxim = seq[0]
    for i in range(len(seq)):
        if seq[i] > maxim:
            maxim = seq[i]
    return maxim

In [3]:
def minim(seq:list):
    minim = seq[0]
    for i in range(len(seq)):
        if seq[i] < minim:
            minim = seq[i]
    return minim

In [4]:
def mean(seq:list):
    seq = np.array(seq).astype(np.float)
    return seq.sum() / seq.size

In [5]:
def mse(seq:list):
    seq = np.array(seq).astype(np.float)
    return np.sqrt(((seq - mean(seq))**2/seq.size).sum())

In [16]:
digit = input()
seq = []
while digit != "end":
    seq.append(digit)
    digit = input()

print("\n\n\nsequence for scoring = ", str(seq))    
print("maximum = ", maxim(seq))
print("minimum = ", minim(seq))
print("mean value = ", mean(seq))
print("mean squared error = ", mse(seq))

1
1
1
end



sequence for scoring =  ['1', '1', '1']
maximum =  1
minimum =  1
mean value =  1.0
mean squared error =  0.0

In [8]:
MAX_SIZE = int(input("enter the maximum size of array:"))
numbers = [i for i in range(MAX_SIZE // 2, MAX_SIZE + 1) if i%5 == 0] + [i for i in range(MAX_SIZE // 2 - 1) if i%5==0]
print(numbers)

enter the maximum size of array:1999
[1000, 1005, 1010, 1015, 1020, 1025, 1030, 1035, 1040, 1045, 1050, 1055, 1060, 1065, 1070, 1075, 1080, 1085, 1090, 1095, 1100, 1105, 1110, 1115, 1120, 1125, 1130, 1135, 1140, 1145, 1150, 1155, 1160, 1165, 1170, 1175, 1180, 1185, 1190, 1195, 1200, 1205, 1210, 1215, 1220, 1225, 1230, 1235, 1240, 1245, 1250, 1255, 1260, 1265, 1270, 1275, 1280, 1285, 1290, 1295, 1300, 1305, 1310, 1315, 1320, 1325, 1330, 1335, 1340, 1345, 1350, 1355, 1360, 1365, 1370, 1375, 1380, 1385, 1390, 1395, 1400, 1405, 1410, 1415, 1420, 1425, 1430, 1435, 1440, 1445, 1450, 1455, 1460, 1465, 1470, 1475, 1480, 1485, 1490, 1495, 1500, 1505, 1510, 1515, 1520, 1525, 1530, 1535, 1540, 1545, 1550, 1555, 1560, 1565, 1570, 1575, 1580, 1585, 1590, 1595, 1600, 1605, 1610, 1615, 1620, 1625, 1630, 1635, 1640, 1645, 1650, 1655, 1660, 1665, 1670, 1675, 1680, 1685, 1690, 1695, 1700, 1705, 1710, 1715, 1720, 1725, 1730, 1735, 1740, 1745, 1750, 1755, 1760, 1765, 1770, 1775, 1780, 1785, 1790, 1795, 1800, 1805, 1810, 1815, 1820, 1825, 1830, 1835, 1840, 1845, 1850, 1855, 1860, 1865, 1870, 1875, 1880, 1885, 1890, 1895, 1900, 1905, 1910, 1915, 1920, 1925, 1930, 1935, 1940, 1945, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

# problem 2

In [9]:
def bubble_sort(lst):
    flag = True
    while flag:
        flag = False
        for i in range(len(lst) - 1):
            if lst[i] >lst[i+1]:
                lst[i], lst[i+1] = lst[i+1], lst[i]
                
                flag = True
    return lst

In [10]:
import random

def quick_sort(lst):
    
    if len(lst) <= 1:
        return lst
    
    else:
        
        left_part = []
        right_part = []
        pivot_part = []
        pivot = random.choice(lst)
        
        for i in range(len(lst)):
            
            if lst[i] < pivot:
                left_part.append(lst[i])
            
            elif lst[i] > pivot:
                right_part.append(lst[i])
                
            else:
                pivot_part.append(lst[i])
    return quick_sort(left_part) + pivot_part + quick_sort(right_part)

In [11]:
quick_sort([100, 2, 3, 5, 4])

[2, 3, 4, 5, 100]

In [12]:
bubble_sort([1, 100, 55, 1919191, 37, -1, -23923, -50, 0, 0])

[-23923, -50, -1, 0, 0, 1, 37, 55, 100, 1919191]

# problem 3

In [14]:
n = int(input("enter the size of dictionary"))
dct  = dict([input('enter the data in format: key value --> ').split() for _ in range(n)])


print({value:key for key, value in dct.items()})
print({value:key for key, value in zip(dct.keys(), dct.values())})

enter the size of dictionary5
enter the data in format: key value --> a 2
enter the data in format: key value --> v 4
enter the data in format: key value --> b 5
enter the data in format: key value --> g 6
enter the data in format: key value --> h 7
{'2': 'a', '4': 'v', '5': 'b', '6': 'g', '7': 'h'}
{'2': 'a', '4': 'v', '5': 'b', '6': 'g', '7': 'h'}

# problem 4

In [15]:
from math import sqrt

In [16]:
[num for num in range(2500) if num % 10 == 1 and sqrt(num).is_integer()]

[1, 81, 121, 361, 441, 841, 961, 1521, 1681, 2401]

# EXTRA 1

функция *transformer* - попытка решить задачу в стиле С, ну и она решена, но только для типа int.

Функция *transform* реализована в общем виде.

In [17]:
def transformer(lst:list):
    arr = list()
    i = 0
    j = -1
    if list(enumerate(lst))[-1][0] % 2  == 0:
        while id(lst[i]) != id(lst[j]):
            arr.append(lst[i] + lst[j])
            i += 1
            j -= 1
    else:
        while id(a[i]) - id(a[j]) != 32:
            arr.append(lst[i] + lst[j])
            i += 1
            j -= 1

    return arr

In [23]:
def transform(lst):
    ans = []
    length = list(enumerate(lst))[-1][0] + 1
    for i, j in zip(np.arange(length // 2), np.arange(-1, - length //2 -1, -1)):
        ans.append(lst[i] + lst[j])
    return ans

In [25]:
transform([i for i in range(10)])

[9, 9, 9, 9, 9]

# EXTRA 2

In [26]:
set_1 = set(input())
set_2 = set(input())


set_1.remove(" ")
set_2.remove(" ")

def set_operations(set_1, set_2):
    
    print("intersection: ",  set_1.intersection(set_2))
    print("symmetric difference: ", set_1.symmetric_difference(set_2))
    print("union: ", set_1.union(set_2))
    
set_operations(set_1, set_2)

1 2 3 4 5 6
4 5 6 7 8 9
intersection:  {'4', '5', '6'}
symmetric difference:  {'7', '3', '9', '1', '8', '2'}
union:  {'2', '3', '7', '9', '1', '5', '6', '8', '4'}

# EXTRA 3

In [27]:
def example_func(a, b=None, c=None, *args, **kwargs):
    print(a)
    print(b)
    print(c)
    print(args)
    print(kwargs)

In [28]:
example_func(1)

1
None
None
()
{}

In [29]:
example_func(1, 2, 3, 4, k = "k")

1
2
3
(4,)
{'k': 'k'}

In [32]:
example_func(1, d=10, g=8, b=9)

1
9
None
()
{'d': 10, 'g': 8}